!target/classes/
/target/classes/*
!/target/classes/equiv/
/target/classes/equiv/*
!/target/classes/equiv/checking/
/target/classes/equiv/checking/*
!target/classes/equiv/checking/symbex
/target/generated-sources
.idea
pom.xml
